@model IEnumerable<GraffitiVR.Model.Sketch>

@{
    ViewBag.Title = "Index";
}
<script>
    function deleteRecord(strRecordID) {

        window.location = "/sketch/delete/" + strRecordID;
        
    }
</script>
<h2>Sketches</h2>

<script>
    function newSketch() {
        window.open("/sketch/create", "_blank");
    }

    function newBlocklySketch() {
        window.open("/sketch/createblockly", "_blank");
    }
</script>

<p>
    <input type="button"  value="New Sketch" class="btn btn-default" onclick="newSketch()" />
    <input type="button" value="New Blockly Sketch" class="btn btn-default" onclick="newBlocklySketch()" />
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
                @if (item.Type != "blockly") {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                }
                else
                {
                    @Html.ActionLink("Edit", "EditBlockly", new { id = item.Id })
                }
                |
            <a href="javascript:deleteRecord('@item.Id')">Delete</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
    </tr>
}

</table>
